<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Item</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Study_time</td><td class="text-nowrap"><%=@article.study_time%></td></tr>
    <tr><td>Study_summary</td><td><%=@article.study_summary%></td></tr>
    <tr><td>itnews_opinion</td><td><%=@article.itnews_opinion%></td></tr>
    <tr><td>consultation</td><td><%=@article.consultation%></td></tr>
    <tr><td>sns_links</td><td><%=@article.sns_links%></td></tr>
  </tbody>
</table>

<%= form_with model: @comment, url: "/articles/#{params[:id]}/comments", local: true do |f| %>
  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
<%= f.submit class: "btn btn-primary btn-lg mb-2" %>
<%end%>

<%@comments.each do |comment|%>
  <p><%=comment.comment%></p>
  <p><%=comment.user.email%>
  <p><%=comment.created_at.strftime('%F %T')%>
  
<%end%>